$primary:   #007bff;
$secondary: #A3CB9A;
$success:   #28a745;
$info:      #17a2b8;
$warning:   #ffc107;
$danger:    #dc3545;
$light:     #01527E;
$dark:      #343a40;

$text-black: #343a40;
$text-white: #71b25d;

$rounded-borders: 15px;